@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  /* colors */
  --background: #222222;
  --foreground: #ccc2b1;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.clock {
  color: #505b5e;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  font-size: 150px;
  top: 45%;
  left: 50%;
  position: absolute;
  display: block;
  text-align: center;
  letter-spacing: 0.05rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  user-select: none;
}

.search-input {
  width: 98%;
  margin-bottom: 20px;

}

textarea {
  font-family: 'Lexend Deca', sans-serif;
  width: 98%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  resize: none;
  font-size: 34px;
  background: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
